model_version: 2.0
product_va_config:
  name: PM File Access NBI
  product_name: FAN
  version:
  va_template_version: 2.0.0
  description: PM File Access NBI vulnerability analysis report
  images:
     - armdocker.rnd.ericsson.se/proj-enm/eric-pm-fileaccess-nbi
# Below is maintained as an exmaple for mitigating a CVE
#   mitigations:
#     CVE-2024-2961:
#       mitigation: https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/TORF-727278
#         sce:
#           sce-id: SCE-XXXX-XX
#           status: Unknown
#           expires: 2024-12-10T00:00:00Z